.footer {
  background-color: #15262f;
  padding: 60px 0;
  margin-top: 80px;
  color: lightgray;

  .footer-sec {
    h3 {
      text-align: center;
    }
    
    ul {
      text-align: center;
      list-style-type: none;
    }
  }

}