.main-search {
  max-width: 1200px;
  margin: auto;
}

.top-select {
  margin-top: 130px;
  height: 150px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.left-select {
  background-color: #f2f2f2;
}

.card-img {
  height: auto;
  width: 270px;
}

.card-text.short {
  display: none;
}

.list-group-item {
  background: none;
  border: none;
}

.button-show {
  background-color: $bh-default;
  border: none;
  color: #000;

  &:hover {
    background-color: $bh-dark;
  }
}

.ad {
  border: solid 3px $bh-details;
}

@media (max-width:991px) {
  .card-img {
    height: auto;
    width: unset;
  }
}

// @media (max-width:968px) {
//   .card-text.long {
//     display: none;
//   }
  
//   .card-text.short {
//     display: block;
//   }
// }