// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//$bh-default: #21de73;
$bh-default: #00ffda;
$bh-default-v2: rgb(7, 7, 62);
$bh-details:#ff00c2;
$bh-dark: rgb(37, 47, 50);
$bh-side:#f2f2f2;
$bh-light: rgb(210, 210, 210);
$bh-light-v2: rgb(171, 171, 171);
$bh-light-v3: rgb(121, 121, 121);

$error-field: #E3342F;
//
